%arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .prev-arrow,
  .next-arrow {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    // border: 1px solid #ebebf2;
    cursor: pointer;
    transition: 0.3s;

    svg {
      path {
        stroke: #666575;
      }
    }
    &:hover {
      border-color: none;
      background-color: color(primary);
      // box-shadow: 0px 10px 20px 0px #0264ed40;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
  .prev-arrow {
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translateY(-50%);
  }
  .next-arrow {
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translateY(-50%);
  }
}
