// slic-dots
%slickdots {
  position: relative;

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    li {
      button {
        background-color: transparent;
        border: 0px;
        font-size: 0px;
        width: 8px;
        height: 8px;
        background-color: #8f8fa3;
        margin: 0px 8px;
        border-radius: 50%;
        transition: all 0.2s linear;
      }
      &.slick-active {
        button {
          width: 24px;
          border-radius: 50px;
          background-color: #202029;
        }
      }
    }
  }
}

.browse-categories {
  &__wrapper {
    position: relative;
    .slider-arrows {
      @extend %arrows;
      // border: 1px solid #ebebf2;
      .prev-arrow,
      .next-arrow {
        border: 1px solid #ebebf2;
      }
    }
  }
  &-shape {
    img {
      user-select: none;
    }
  }

  &-area {
    @extend %slickdots;
  }
}

.browse-categories-item {
  padding: 30px 0px;
}

@media (min-width: 768px) {
  .browseCategories {
    .slick-dots {
      display: none !important;
    }
  }
}
