.cardFeature {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ebebf2;
  padding: 30px 20px;
  border-radius: 5px;
  transition: all 0.2s linear;
  text-align: center;
  &:hover {
    box-shadow: 0px 25px 80px rgba(10, 9, 86, 0.12);

    .cardFeature__icon {
      &--bg-book {
        background: rgba(0, 175, 146, 1);
      }
      &--bg-user {
        background: rgba(16, 137, 255, 1);
      }
      &--bg-clock {
        background: rgba(241, 92, 76, 1);
      }

      &--bg-book,
      &--bg-user,
      &--bg-clock {
        svg {
          color: #fff;
        }
      }
    }
  }
  // card content
  &__icon {
    width: 72px;
    height: 72px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;

    &--bg-book {
      background: rgba(0, 175, 146, 0.1);
      svg {
        color: #00af91;
      }
    }

    &--bg-user {
      background: rgba(16, 137, 255, 0.1);
      svg {
        color: #1089ff;
      }
    }

    &--bg-clock {
      background: rgba(241, 92, 76, 0.1);
      svg {
        color: #f15c4c;
      }
    }
  }
  // Fonts
  h5.font-title--xs {
    margin-bottom: 4px;
  }
  p {
    font-family: 'Poppins', sans-serif;
        font-weight: 400;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cardFeature {
    height: 100%;
  }
}
