.navbar-mobile {
  position: fixed;
  top: 0;
  left: -280px;
  width: 60px;
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.8s ease-in-out;
  z-index: 9999999;
  &.show {
    left: 0px;
    width: 300px;
    padding: 20px 15px;
    transition: all 0.8s ease-in-out;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin: 30px 0px;
    &-list {
      li {
        margin-bottom: 5px;
        &.open,
        &.active {
          a {
            background-color: #1089ff;
            span {
              color: #fff;
              svg {
                color: #fff;
              }
            }
          }
        }
        a {
          display: flex;
          justify-content: space-between;
          padding: 15px 0px;
          padding-left: 15px;
          &:hover {
            background-color: #1089ff;
            span {
              color: #fff;
              svg {
                color: #fff;
              }
            }
          }
        }
        &.open {
          & > a {
            border-bottom: 2px solid #42414b;
          }
          .navbar-mobile__menu-dropmenu {
            display: block;
          }
          .navbar-mobile__menu-dropicon {
            svg {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    &-link {
      font-size: 16px;
      line-height: 24px;
      color: #42414b;
      font-family: poppin-medium;
    }
    &-dropicon {
      margin-right: 15px;
      svg {
        color: #42414b;
      }
    }
    &-dropmenu {
      display: none;
      li {
        margin-bottom: 2px;

        a {
          font-size: 16px;
          line-height: 24px;
          color: #42414b;
          font-family: poppin-medium;
          padding: 15px 0px;
          padding-left: 15px;
          background-color: transparent !important;
          &:hover {
            background-color: rgba(16, 136, 255, 0.515) !important;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar-mobile,
  .menu-icon-container {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-mobile {
    &.show {
      width: 260px;
    }
  }
}
