// Section spacing and common css
.section {
  position: relative;
  padding: 100px 0px;
  @media (max-width: 767px) {
    padding: 60px 0px;
  }
  // section background colors
  &--bg-white {
    background-color: #fff;
  }
  &--bg-offwhite {
    background-color: #ebebf2;
  }
  &--bg-offwhite-one {
    background: rgba(235, 235, 242, 0.7);
  }
  &--bg-offwhite-two {
    background: rgba(235, 235, 242, 0.6);
  }
  &--bg-offwhite-three {
    background: rgba(235, 235, 242, 0.5);
  }
  &--bg-offwhite-four {
    background: rgba(235, 235, 242, 0.4);
  }
  &--bg-offgradient {
    background: linear-gradient(
      180deg,
      #ebebf2 0%,
      rgba(235, 235, 242, 0.4) 100%
    );
  }

  &--white-one {
    background: rgba(255, 255, 255, 0.4);
  }
  &--white-two {
    background: rgba(255, 255, 255, 0.3);
  }

  // Section title spacing
  .font-title--md {
    margin-bottom: 50px;
  }
}

// Section bg colors

// slic-dots
%slickdots {
  position: relative;

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    li {
      button {
        background-color: transparent;
        border: 0px;
        font-size: 0px;
        width: 8px;
        height: 8px;
        background-color: #8f8fa3;
        margin: 0px 8px;
        border-radius: 50%;
        transition: all 0.2s linear;
      }
      &.slick-active {
        button {
          width: 24px;
          border-radius: 50px;
          background-color: #202029;
        }
      }
    }
  }
}

.ourevent-active,
.students {
  @extend %slickdots;
}

.bg-w {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.3;
    z-index: -1;
  }
}
// Checkbox
.checkbox-primary[type='checkbox'] {
  width: 24px;
  height: 24px;
  border: 2px solid color(lowBlack);
}

// overlay select issues fixed
.main-instructor-featured-shape img,
.banner-two-start h1,
.browse-categories h3,
.main-heading h3,
.learning-rules-starts h3,
.about-services-shape img,
.featured-popular-courses-shape img,
.about-services-shape img,
.learning-rules-shape img,
.main-events-featured-shape img,
.testimonial__img img,
.testimonial__img .dot img,
.testimonial__img .rectangle img,
.testimonial__wrapper_title h3 {
  user-select: none;
}

// Responsive

@media (max-width: 1200px) {
  // // slick-arrows
  // .new-course-feature .slider-arrows .prev-arrow,
  // .new-course-feature .slider-arrows .next-arrow,
  // .latest-events-featured .slider-arrows .prev-arrow,
  // .latest-events-featured .slider-arrows .next-arrow,
  // .browse-categories__wrapper .slider-arrows .next-arrow,
  // .browse-categories__wrapper .slider-arrows .prev-arrow,
  // .about-services__wrapper .slider-arrows .prev-arrow,
  // .about-services__wrapper .slider-arrows .next-arrow {
  //   top: auto;
  //   bottom: -95px;
  // }

  // .new-course-feature .slider-arrows .prev-arrow,
  // .latest-events-featured .slider-arrows .prev-arrow,
  // .browse-categories__wrapper .slider-arrows .prev-arrow {
  //   left: 0;
  // }
  // .new-course-feature .slider-arrows .next-arrow,
  // .latest-events-featured .slider-arrows .next-arrow,
  // .browse-categories__wrapper .slider-arrows .next-arrow {
  //   right: 0;
  // }
  // .new-course-feature .slider-arrows .slick-arrow,
  // .latest-events-featured .slider-arrows .slick-arrow,
  // .browse-categories__wrapper .slider-arrows .slick-arrow {
  //   left: 45%;
  // }
  // .new-course-feature .slider-arrows .next-arrow,
  // .latest-events-featured .slider-arrows .next-arrow,
  // .browse-categories__wrapper .slider-arrows .next-arrow {
  //   left: 50%;
  // }
}

@media (min-width: 992px) and (max-width: 1199px) {
  // .new-course-feature .slider-arrows .next-arrow,
  // .latest-events-featured .slider-arrows .next-arrow {
  //   left: 60%;
  // }
}

@media (max-width: 1199px) {
  //   .slider-arrows {
  //     display: none;
  //   }
  // }

  // @media (max-width: 991px) {
  //   %space-1 {
  //     padding: 90px 0px !important;
  //   }

  //   %fonts-md {
  //     font-size: 38px !important;
  //     line-height: 52px !important;
  //   }

  //   // overflow
  //   .signup-area {
  //     overflow-y: auto !important;
  //   }

  //   // banner img
  //   .signup-area-image {
  //     margin-bottom: 30px;
  //     display: flex;
  //     justify-content: center;
  //     img {
  //       height: 350px;
  //       object-fit: contain;
  //     }
  //   }

  //   // extra space remove(bottom)
  //   .get-started {
  //     padding-bottom: 30px !important;
  //   }

  //   .ourevent-active {
  //     .slick-dots {
  //       margin-top: 0px;
  //     }
  //   }
  // }

  // @media (max-width: 767px) {
  //   %space-2 {
  //     padding: 60px 0px !important;
  //   }
  //   %fonts-sm-1 {
  //     font-size: 22px !important;
  //     line-height: 32px !important;
  //   }

  //   // Section spacing
  //   // section {
  //   //   @extend %space-2;
  //   // }

  //   .about-intro {
  //     padding: 0px !important;
  //   }
  //   .signup-area {
  //     padding-top: 0px !important;
  //   }

  //   // slider dots
  //   .bestInstructor .ourinstructor-active .slick-dots,
  //   .about-services .about__slider .slick-dots,
  //   .main-instructor-featured .ourinstructor-active .slick-dots,
  //   .main-events-featured .eventsSlider .slick-dots,
  //   .ourevent-active .slick-dots {
  //     margin-top: 0px;
  //   }
  // }

  // @media (min-width: 320px) and (max-width: 574px) {
  //   %space {
  //     padding: 45px 0px !important;
  //   }
  //   %fonts-sm-2 {
  //     font-size: 24px !important;
  //     line-height: 36px !important;
  //   }
  //   %brief {
  //     font-size: 14px !important;
  //     line-height: 26px !important;
  //   }

  //   // overflow
  //   .signup-area {
  //     height: auto !important;
  //   }

  //   .contactHero {
  //     padding-top: 0px !important;
  //   }

  //   // banner img
  //   .signup-area-image {
  //     margin-bottom: 15px;
  //     img {
  //       height: auto;
  //     }
  //   }
  //   // img height auto
  //   .learning-rules-ends img {
  //     height: auto;
  //   }

  //   .cart-area .cart-wizard-area .text h6 {
  //     font-size: 16px !important;
  //     line-height: 26px !important;
  //   }
  // }
}
