* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 1200px) {

	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1170px;
	}
}

body {
    font-family: $font;
    user-select: none;
}

a {
    display: inline-block;
    @include animate(.3s);
}

li {
    list-style-type: none;
}

