* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 1200px) {

	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1170px;
	}
}

body {
    font-family: $font;
    user-select: none;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none !important;
}

a,
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}
.bg-warning{
	background-color: color(warning);
}
.bg-success{
	background-color: color(success);
}

.bg-denger{
	background-color: color(danger);
}
