// Font Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font: 'Poppins', sans-serif;

h1 {
    font-size: 80px;
    line-height: 1.25;
    font-weight: 700;
}
h2 {
    font-size: 56px;
    line-height: 1.25;
    font-weight: 700;
}
h3 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    color: #25252E !important;
}
h4 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
    color: #202029 !important;
}
h5 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
    color: #202029 !important;
}
h6 {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    color: #202029 !important;
}

p{
    color: #8F8FA3 !important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color: inherit;
    &:hover{
        color: inherit;
    }
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: color(lightBlack);
    transition: .3s;
    margin: 0;
}

/*------------------------*/
/*-------RESPOSIVE---------*/
/*-------------------------*/

// large devices 992px - 1169px
@media (min-width: 992px) and (max-width: 1199px) {
    h1{
        font-size: 52px;
    }
    h3{
        font-size: 38px;
    }
    h4{
        font-size: 32px;
    }
    h5{
        font-size: 24px;
    }
}

// Medium devices 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 55px;
    }
    h3{
        font-size: 35px;
    }
    h4{
        font-size: 32px;
    }
    h5{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}

// Small devices 575px - 767px
@media (min-width: 575px) and (max-width: 767px) {
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 22px;
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
}

// Small devices 420px - 574px
@media only screen and (min-width: 420px) and (max-width: 574px) {
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}

// extra Small devices 420px
@media (max-width: 420px) {
    h3{
        font-size: 23px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}
