.purchase-area {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    position: relative;

    &-close {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    &-items {
        padding-right: 45px;
        border-right: 1px solid rgba($color: #8F8FA3, $alpha: 0.30);

        &-start {
            margin-bottom: 35px;

            .image {
                margin-right: 15px;
                width: 150px;
                height: 100px;

                img {
                    max-width: 100%;
                    border-radius: 3px;
                    object-fit: cover;
                }
            }

            .text {
                &-main {
                    max-width: 370px;

                    h6 {
                        font-weight: 500;
                        font-size: 18px;
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;

                        a {
                            color: #8F8FA3;
                        }
                    }
                }
            }
        }

        &-end {
            padding-left: 45px;

            p {
                font-size: 20px !important;
                color: #202029 !important;
                margin-bottom: 10px;
            }

            dt {
                color: #666575;
                font-weight: 500;
                font-size: 14px;
            }

            dd {
                color: #8F8FA3;
                font-size: 14px;
            }
        }
    }
}

// Responsive
// extra Small devices 420px
@media (max-width: 420px) {
    .purchase-area {
        padding: 20px;
        padding-bottom: 10px;
    }

    .purchase-area-items {
        padding-right: 0;
        border: none;

        h6 {
            margin-top: 25px;
        }

        .text-main {
            max-width: 100%;

            p {
                margin-bottom: 5px;
            }
        }

        &-end {
            padding-left: 0;
            margin-top: 10px;

            dl {
                margin-bottom: 0 !important;
            }
        }
    }
}

// Small devices 420px - 574px
@media only screen and (min-width: 420px) and (max-width: 574px) {
    .purchase-area {
        padding: 20px;
        padding-bottom: 10px;
    }

    .purchase-area-items {
        padding-right: 0;
        border: none;

        h6 {
            margin-top: 25px;
        }

        .text-main {
            max-width: 100%;

            p {
                margin-bottom: 5px;
            }
        }

        &-end {
            padding-left: 0;
            margin-top: 10px;

            dl {
                margin-bottom: 0 !important;
            }
        }
    }

}

// Small devices 575px - 767px
@media (min-width: 575px) and (max-width: 767px) {
    .purchase-area {
        padding: 20px;
        padding-bottom: 10px;
    }

    .purchase-area-items {
        padding-right: 0;
        border: none;

        h6 {
            margin-top: 25px;
        }

        .text-main {
            max-width: 100%;

            p {
                margin-bottom: 5px;
            }
        }

        &-end {
            padding-left: 0;
            margin-top: 10px;

            dl {
                margin-bottom: 0 !important;
            }
        }
    }
}

// Medium devices 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {
    .purchase-area {
        padding: 20px;
        padding-bottom: 10px;
    }

    .purchase-area-items {
        padding-right: 0;
        border: none;

        h6 {
            margin-top: 25px;
        }

        .text-main {
            max-width: 100%;

            p {
                margin-bottom: 5px;
            }
        }

        &-end {
            padding-left: 0;
            margin-top: 10px;

            dl {
                margin-bottom: 0 !important;
            }
        }
    }
}