.modal-backdrop.show {
  opacity: 0.9;
}

.modal-backdrop {
  z-index: 0;
  background-color: #202029;
}

#ratingModal,
body {
  padding-right: 0 !important;
}

.modal-open {
  overflow: hidden;
  width: calc(100% - 17px);
  /* for chrome/safari*/
  width: -moz-calc(100% - 16px);
  /*for firefox*/
  /*width: -ms-calc(100% - XXpx)  */
}

.modal {
  &-header {
    h5 {
      color: #202029 !important;
      font-size: 24px !important;
    }
  }

  form {
    textarea {
      height: 110px;
      border: 1.2px solid rgba($color: #8f8fa3, $alpha: 0.4);
      resize: none;
      margin-bottom: 20px;
      padding-top: 16px;
      border-radius: 4px;
      padding-left: 20px;
    }

    label {
      font-family: 'Poppins', sans-serif;
        font-weight: 500;
      font-size: 14px;
      color: #202029;
      margin-bottom: 6px;
    }
  }
}

.modal-body-rating {
  p {
    font-family: 'Poppins', sans-serif;
        font-weight: 500;
    font-size: 18px !important;
    color: #42414b !important;

    span {
      color: #8f8fa3 !important;
    }
  }
}
