.students-info {
  &-intro {
    margin-bottom: 30px;
    align-items: center;
    padding: 40px 35px;
    background-color: white;
    border-radius: 6px;

    &-start {
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 22px;
        top: 0;
        width: 1px;
        height: 150px;
        background-color: #ebebf2;
      }
      .image {
        margin-right: 25px;
        height: 150px;
        width: 150px;

        img {
          border-radius: 50%;
          object-fit: cover;
          max-width: 100%;
        }
      }
      .text {
        h5 {
          color: #202029;
          margin-bottom: 6px;
        }
        p {
          font-size: 18px;
          line-height: 27px;
          color: #8f8fa3;
        }
      }
    }

    &-end {
      padding-left: 15px;
      display: flex;
      align-items: center;
      margin-left: 18px;
      .enrolled-courses {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 45px;
          background-color: #ebebf2;
        }
        &-icon {
          margin-right: 12px;
          background-color: rgba($color: #1089ff, $alpha: 0.1);
          height: 80px;
          width: 80px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #1089ff;
        }
        &-text {
          h5 {
            line-height: 36px;
          }
          p {
            font-size: 14px !important;
            line-height: 21px;
          }
        }
      }

      .completed-courses {
        display: flex;
        align-items: center;
        margin-left: 30px;
        &-icon {
          margin-right: 12px;
          background-color: rgba($color: #00af91, $alpha: 0.1);
          height: 80px;
          width: 80px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #00af91;
        }
      }

      .enrolled-courses-text,
      .completed-courses-text {
        h6,
        h5 {
          font-family: 'Poppins', sans-serif;
        font-weight: 600;
        }
        p {
          color: #8f8fa3;
        }
      }
    }
  }

  &-main {
    .nav-tabs {
      padding: 12px 0px;
      padding-top: 0;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: center;
      .nav-link {
        background-color: transparent;
        color: #666575;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0 15px;
        border-color: transparent;

        &.active {
          position: relative;
          color: #202029 !important;

          &::after {
            position: absolute;
            content: '';
            bottom: -14px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: #0264ed;
            border-radius: 10px !important;
          }
        }
      }
    }

    .tab-content {
      padding-top: 30px;

      .info-student,
      .about-student {
        padding: 24px;
        background-color: #fff;
        border-radius: 5px;
        height: 100%;
        span {
          line-height: 30px;
        }
      }

      .info-student-topic {
        span {
          font-size: 14px;
          line-height: 21px;
          font-family: 'Poppins', sans-serif;
        font-weight: 500;
          color: #666575;
        }

        p {
          font-size: 14px;
          line-height: 21px;
          color: #8f8fa3;
        }
      }
    }
  }
  .about-student,
  .info-student {
    h6 {
      margin-bottom: 12px;
    }
  }
}

// All course tab
.course {
  &__content_title {
    font-size: 20px;
    line-height: 30px;
  }
}

.students-info-form form .input-with-icon .input-icon {
  svg {
    width: 18px;
    height: 18px;
  }
}

// Responsive

@media (max-width: 1200px) {
  .students-info {
    padding-top: 0px;
  }

  // students top bar
  .students-info-intro-start::after {
    top: 50%;
    transform: translateY(-50%);
  }
  .students-info-intro-end .enrolled-courses::after {
    right: -70px;
  }
  .students-info-intro-end .enrolled-courses::after {
    height: 50%;
  }
  .students-info-intro-start .image {
    width: 120px;
    height: 120px;
  }
  .students-info-intro {
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .students-info-intro-end .enrolled-courses::after {
    right: -50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .students-info-intro-start {
    flex-direction: column;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .students-info-intro-end {
    justify-content: space-around;
    padding: 0;
    margin-left: 0px;

    .enrolled-courses {
      padding: 0;
      border-right: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .completed-courses {
      padding: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
  .students-info-main .nav-tabs {
    padding: 0;

    .nav-link {
      margin-bottom: 10px;
      padding-top: 0;
      margin-left: 0 !important;
    }
  }

  .info-student {
    padding-bottom: 20px !important;
  }
}

@media (max-width: 991px) {
  .students-info {
    padding-top: 0px !important;
    .nav.nav-tabs {
      justify-content: center;
    }
  }

  .students-info-main .tab-content {
    padding-bottom: 30px;
  }

  //   students top bar
  .students-info-intro-start::after,
  .students-info-intro-end .enrolled-courses::after {
    display: none;
  }
  .students-info-intro-end,
  .students-info-intro-end .completed-courses {
    margin-left: 0px;
  }
  .students-info-main .nav-tabs .nav-link {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  // Purchase cards
  .purchase-area-items,
  .purchase-area-items-end {
    width: 100% !important;
  }
}

// Medium devices 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {
  .students-info {
    padding-bottom: 30px;
  }

  .students-info-intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .students-info-intro-start {
    margin-bottom: 20px;
    flex-direction: column;
    border-right: 0;
    border-bottom: 1px solid #ebebf2;
    padding-bottom: 10px;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .students-info-intro-end {
    justify-content: space-around;
    padding: 0;

    .enrolled-courses {
      padding: 0;
      border-right: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .completed-courses {
      padding: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .students-info-main .nav-tabs {
    padding: 0;

    .nav-link {
      padding-top: 0;
      margin-left: 0 !important;

      &.active {
        &::after {
          bottom: -3px;
        }
      }
    }
  }

  .info-student {
    margin-top: 30px;
    padding-bottom: 10px !important;

    dl {
      margin-bottom: 10px !important;
    }
  }
}

@media (max-width: 767px) {
  .students-info-intro {
    margin-top: 0px;
  }
  .students-info-intro-start {
    padding-bottom: 30px;
  }
  .change-image-wizard .image {
    width: 120px !important;
    height: 120px !important;
  }
  .students-info .nav.nav-tabs {
    justify-content: flex-start;
  }
  .purchase-area-items {
    margin-top: 15px;
  }
}

// Small devices 575px - 767px
@media (min-width: 575px) and (max-width: 767px) {
  .students-info {
    padding-bottom: 30px;
  }

  .students-info-intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .students-info-intro-start {
    margin-bottom: 20px;
    flex-direction: column;
    border-right: 0;
    border-bottom: 1px solid #ebebf2;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .students-info-intro-end {
    justify-content: space-around;
    padding: 0;

    .enrolled-courses {
      padding: 0;
      border-right: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .completed-courses {
      padding: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .students-info-main .nav-tabs {
    padding: 0;

    .nav-link {
      padding-top: 0;
      margin-left: 0 !important;

      &.active {
        &::after {
          bottom: -3px;
        }
      }
    }
  }

  .info-student {
    margin-top: 30px;
    padding-bottom: 10px !important;

    dl {
      margin-bottom: 10px !important;
    }
  }
}

@media (max-width: 575px) {
  .info-student-topic {
    flex-direction: column;
  }
}

// Small devices 420px - 574px
@media (min-width: 420px) and (max-width: 574px) {
  .students-info {
    padding-bottom: 30px;
  }

  .students-info-intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .students-info-intro-start {
    margin-bottom: 20px;
    flex-direction: column;
    border-right: 0;
    border-bottom: 1px solid #ebebf2;
    padding-bottom: 10px;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .students-info-intro-end {
    flex-direction: column;
    padding: 0;

    .enrolled-courses {
      padding: 0;
      border-right: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .completed-courses {
      margin-top: 15px;
      padding: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .students-info-main .nav-tabs {
    padding: 0;

    .nav-link {
      margin-bottom: 10px;
      padding-top: 0;

      &.active::after {
        bottom: -3px;
      }
    }
  }

  .info-student {
    margin-top: 30px;
    padding-bottom: 10px !important;

    dl {
      margin-bottom: 10px !important;
    }
  }
}

// extra Small devices 420px
@media (max-width: 420px) {
  .students-info {
    padding-bottom: 30px;
  }

  .students-info-intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .students-info-intro-start {
    margin-bottom: 20px;
    flex-direction: column;
    border-right: 0;
    border-bottom: 1px solid #ebebf2;

    .image {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .text {
      p {
        text-align: center;
      }
    }
  }

  .students-info-intro-end {
    flex-direction: column;
    padding: 0;

    .enrolled-courses {
      padding: 0;
      border-right: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }

    .completed-courses {
      margin-top: 15px;
      padding: 0;
      flex-direction: column;

      &-icon {
        margin-right: 0;
      }

      &-text {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .students-info-main .nav-tabs {
    padding: 0;

    .nav-link {
      margin-bottom: 10px;
      padding-top: 0;

      &.active::after {
        bottom: -3px;
      }
    }
  }

  .info-student {
    margin-top: 30px;
    padding-bottom: 10px !important;

    dl {
      margin-bottom: 10px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 574px) {
  .students-info-intro {
    padding: 40px 0px;
  }

  .students-info-main .nav-tabs .nav-link {
    // margin-bottom: 0px !important;
    padding-bottom: 5px;
  }
}
