@media (max-width: 767px) {
  .brands {
    &__titleContent {
      h4 {
        font-size: 28px !important;
        line-height: 38px !important;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 574px) {
  .brands {
    &__titleContent {
      h4 {
        font-size: 18px !important;
        line-height: 28px !important;
      }
    }
  }
}
