.section {
  &__overlay {
    span {
      position: absolute;
      z-index: -1;
      img {
        pointer-events: none;
      }
    }
    &--01 {
      top: -10%;
      left: 0;
    }
    &--02 {
      right: 5%;
      bottom: 10%;
    }
  }
}
