.header{
    background-color: white;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        display: flex;
        li{
            margin: 0 16px;
            a{
                color: color(lightBlack);
                font-weight: 500;
                line-height: 1.5;
                font-size: 16px;
                transition: .3s;
                padding: 30px 0;
                display: block;
                position: relative;
                &:hover{
                    color: color(primary);
                }
                &.active{
                    color: color(primary);
                    &::before{
                        color: color(primary);
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: color(primary);
                        width: 100%;
                        height: 2px;
                        border-radius: 5px;
                    }
                }

            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__cta{
        display: flex;
        align-items: center;
        &_icon{
            display: flex;
            align-items: center;
            .search{
                margin-right: 22px;
                cursor: pointer;

            }
            .cart{
                position: relative;
                span{
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    width: 16px;
                    height: 16px;
                    color: white;
                    background-color: color(primary);
                    border-radius: 100%;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        &_button{
            background: transparent;
        }
    }
    &__profile{
        margin-left: 24px;
        width: 48px;
        height: 48px;
        img{
            object-fit: cover;
            border-radius: 100%;
        }
    }
    aside {
        padding: 15px 0;
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #FCFCFC;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 65px;
            z-index: 12;
            .login-button{
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                li{
                    .btn-mobile{
                        border: 0;
                        color: color(primary);
                        padding: 0px 10px;
                        padding: 0px 10px;
    padding-bottom: 5px;
                        &:hover{
                            text-decoration: underline;
                        }

                    }
                }
            }
        }

        .sidenav li {
            margin-bottom: 5px;
            padding: 0px 0px 0px 20px;
            position: relative;
        }

        .sidenav li a {
            color: color(lightBlack);
            font-weight: 500;
            line-height: 1.5;
            font-size: 14px;
            padding: 10px 10px 10px 10px;
            display: block;
            transition: 0.3s;
        }

        .sidenav li a:hover {
            color: $black;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 10px;
            right: 33px;
            font-size: 40px;
            color: $black;
        }

    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 11;
        left: 0;
        opacity: 0;
        display: none;
        transition: all 0.3s ease-out 0s;
    }

    .active {
        opacity: 1;
        display: block;
    }
}

/*-------------------------*/
/*---------Responsive-------*/
/*--------------------------*/

// Extra large devices 1200px - 1399px
@media (min-width: 1200px) and (max-width: 1399px) {

}

// large devices 992px - 1169px
@media (min-width: 992px) and (max-width: 1199px) {
    .header__menu li {
        margin: 0 10px;
    }
}

// Medium devices 768px - 991px
@media (min-width: 768px) and (max-width: 991px) {

}

// Small devices 575px - 767px
@media (min-width: 575px) and (max-width: 767px) {

}

// Small devices 420px - 574px
@media only screen and (min-width: 420px) and (max-width: 574px) {

}

// extra Small devices 420px
@media (max-width: 420px) {

}
